<% @posts.reverse.each do |post| %>
	<div class="row">
		<div class="large-12 columns">
				<div><% @user = User.find_by(id: post.user_id)%></div>
				<div><%= image_tag post.photo.url(:medium), :class => "th" %></div>
				<div><%=link_to "@" + @user.email.split("@")[0], '/users/' + @user.id.to_s + '/posts'%></div>
				<p><%= post.caption %></p>
		<%end%>
	</div>
</div>

