<div class="row">
<div class="large-12 columns">
<ul class="large-block-grid-6">
<% @posts.reverse.each do |post| %>
		<div><% @user = User.find_by(id: post.user_id)%></div>
<!-- 		<li><%=link_to "@" + @user.email.split("@")[0], '/users/' + @user.id.to_s + '/posts'%><li>
		<li><%= post.caption %></li> -->
 		<li><%= image_tag post.photo.url(:medium), :class => "th" %><li>
<%end%>
</ul>
</div>
</div>
